@import "../../global.scss";

.intro {
  background-color: transparent;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

/* video background */

.videoBG {
  position:fixed;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .videoBG {
      width:100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .videoBG { 
      width:auto;
      height: 100%;
  }
}
@media (max-width: 767px) {
  .videoBG {
      display: none;
  }
}



  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 700px;
      height: 700px;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;

      @include mobile {
        align-items: flex-start;
      }

      img {
        height: 90%;

        @include mobile {
          height: 50%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      .social {
        height: 50px;
        display: flex;

        @include mobile {
          justify-content: center;
          width: 100vh;
        }

        .links {
          margin-right: 10px;
          cursor: pointer;
          img {
            height: 90%;
          }
        }
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;

        @include mobile {
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    .bottomArrow {
      position: absolute;
      bottom: 10px;
      left: 40%;

      @include mobile {
        left: 47%;
      }

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
